/*Общие элементы:*/
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*:not(.fa) {
    font-family: "Open Sans Regular" !important;
}

*:focus {
    border: 0 !important;
}

.v_line {
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 1px;
    height: 29px;
    background-color: black;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: left;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.w-100p {
    width: 100%;
}
.rot-180 {
    transform: rotate(180deg);
}

.mt-40 {
    margin-top: 40px;
}

.mr-80 {
    margin-right: 80px;
}

.bg-1 {
    background-color: navajowhite;
}

.bg-2 {
    background-color: #f5dbff;
}

.bg-3 {
    background-color: #74ffa7;
}



/*Блок недвижимость {property}:*/
.property {
    height: 679px;
    padding-top: 60px;
    padding-left: 129px;
    padding-right: 129px;
}

.property-black {

    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);

    width: 390px;
    height: 250px;

    margin: 7px;

    padding-top: 29px;
    padding-left: 32px;
    padding-bottom: 25px;

    transition: 0.5s;
}

.property-black:hover
{
    background-color: rgba(0, 0, 0, 0.9);
}

.property-black:hover .property-count_object
{
    display: none;
}

.property-black:hover .property-actions, .property-black:hover .property-countries
{
    display: block;
}

.property-countries {
    display: none;
    padding-right: 10px;
    margin-top: 40px;
}

.property-countries a {
    color: #CDCDCD;
    margin-right: 10px;
    font-size: 15px;
    line-height: 30px;
}

.property-countries a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.property-item {
    position: relative;
    left: 7px;
    margin: 7px;
    width: 390px;
    height: 250px;
}

.property-header {
    display: block;
    line-height: 24px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.property-actions {
    display: none;
    margin-top: 12px;
    line-height: normal;
    font-size: 21px;
    height: 21px;
    color: white;
}
.property-actions a {
    color: white;
    font-size: 15px;
    line-height: 30px;
}


.property-count_object {
    position: relative;
    top: 152px;
    display: block;
    line-height: 26px;
    font-size: 13px;
    color: white;
}

.property-count_object > span {
    line-height: 26px;
    font-size: 19px;
    font-weight: bold;
}



/*Форма какой вариант подходит Вам {option_fits}:*/
.option_fits
{
    padding: 0px;
    height: 539px;
    background-color: #F2F2F2;
}

.option_fits-form {
    position: relative;
    bottom: 30px;
    height: 509px;
    width: 416px;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;

    padding: 53px 45px 71px;

    /*padding-top: 53px;*/
    /*padding-left: 45px;*/
    /*padding-right: 45px;*/
    /*padding-bottom: 71px;*/
}

.option_fits-more {
    padding-top: 56px;
    padding-left: 51px;

}
.option_fits-more h1 {
    display: inline-block;
    width: 460px;
}

.option_fits-more-link {
    font-size: 12px;
    color: #747474;
    font-style: italic;
}

.option_fits-more-link:hover {
    color: #4c4c4c;
    font-style: italic;
}

.option_fits-text {
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    width: 568px;
    font-style: normal;
}

.form_input {
    height: 30px;
    width: 100%;
    margin-top: 39px;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #979797;
    padding: 3px;
}

.form_submit {
    color: white;
    display: block;
    background-color: #002349;
    margin-top: 48px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;

    transition: 0.3s;
}
.form_submit:hover
{
    color: white;
    background-color: #001433;
    text-decoration: none;
}

.form_text {
    width: 100%;
    margin-top: 25px;
    color: #959595;
    font-size: 12px;
}

.option_fits-rotate_text {
    writing-mode: tb-rl;
}

.option_fits-text_link {
    margin-top: 20px;
    font-size: 13px;
}

.option_fits-text_link a {
    margin-right: 22px;
    color: #324B72;
}

/*Эксклюзивные объекты {exc_obj}:*/
.exc_obj {
    height: 1040px;
    padding: 100px 120px;
}

.exc_obj > .container-fluid {
    height: 100%;
}

.exc_obj-item {
    height: 420px;
    padding: 10px;
}

.exc_obj-item-img_block {
    position: absolute;
    right: 0;
    width: 100%;
}

.exc_obj-item-img_buttons {
    position: absolute;
    z-index: 1;
    left: 1;
    width: 100%;
    text-align: left;
}

.exc_obj-item-img_buttons a {
    display: inline-block;
    margin-right: -3px;
    color: white;
    font-size: 11px;
    padding: 5px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}

.exc_obj-item-img_block img {
    height: 210px;
}

.exc_obj-item-more {
    position: absolute;
    padding: 10px;
    left: 0;
    top: 220px;
}

.exc_obj-item-bread, .exc_obj-item-bread a{
    color: #747474;
    font-size: 11px;
    line-height: 15px;
}


/*Об аукционном доме {about_auc}:*/

/*Media:*/